parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset ''enable'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Listener/ForceHttps.php

		-
			message: '#^Cannot access offset ''value'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Listener/ForceHttps.php

		-
			message: '#^Parameter \#2 \$haystack of function in_array expects array, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Listener/ForceHttps.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Listener/ForceHttps.php

		-
			message: '#^Cannot access offset ''force\-https\-module'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Listener/ForceHttpsFactory.php

		-
			message: '#^Parameter \#1 \$config of class ForceHttpsModule\\Listener\\ForceHttps constructor expects array\<mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Listener/ForceHttpsFactory.php

		-
			message: '#^Cannot access offset ''enable'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Middleware/ForceHttps.php

		-
			message: '#^Cannot access offset ''value'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Middleware/ForceHttps.php

		-
			message: '#^Parameter \#2 \$haystack of function in_array expects array, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Middleware/ForceHttps.php

		-
			message: '#^Parameter \#2 \$value of method Psr\\Http\\Message\\MessageInterface\:\:withHeader\(\) expects array\<string\>\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Middleware/ForceHttps.php

		-
			message: '#^Cannot access offset ''force\-https\-module'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Middleware/ForceHttpsFactory.php

		-
			message: '#^Parameter \#1 \$config of class ForceHttpsModule\\Middleware\\ForceHttps constructor expects array\<mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Middleware/ForceHttpsFactory.php

		-
			message: '#^Method ForceHttpsModule\\Module\:\:getConfig\(\) should return array\<mixed\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Module.php
