<?php

return [
    'force-https-module' => [
        'enable'                => true,
        'force_all_routes'      => true,
        'force_specific_routes' => [
            // a lists of specific routes to be https
            // only works if previous config 'force_all_routes' => false
        ],
        'strict_transport_security' => 'max-age=31536000',
    ],
];
