name: "ci build"

on:
  pull_request:
  push:
    branches:
      - "master"

jobs:
  build:
    name: PHP ${{ matrix.php-versions }} (${{ matrix.deps }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-versions: ['8.2', '8.3', '8.4']
        deps: ['latest', 'lowest']
    steps:
      - name: Setup PHP Action
        uses: shivammathur/setup-php@v2
        with:
          extensions: intl
          php-version: "${{ matrix.php-versions }}"
          coverage: xdebug
      - name: Checkout
        uses: actions/checkout@v2
      - run: "composer validate"
      - name: "Install dependencies (latest)"
        if: matrix.deps == 'latest'
        run: "composer install --no-interaction --no-progress --prefer-dist"
      - name: "Install dependencies (lowest)"
        if: matrix.deps == 'lowest'
        run: "composer update --no-interaction --no-progress --prefer-dist --prefer-lowest --prefer-stable"
      - name: "CS Check"
        run: "composer cs-check"
      - name: "Code analyze"
        run: |
          bin/phpstan analyse src/ --level=max -c phpstan.neon
          bin/rector process --dry-run
      - name: "Run test suite"
        run: "mkdir -p build/logs && bin/kahlan --coverage=4 --reporter=verbose --clover=build/logs/clover.xml"
      - name: Upload coverage to Codecov
        if: github.event.pull_request.head.repo.full_name == 'samsonasik/ForceHttpsModule'
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./build/logs/clover.xml
          flags: tests
          name: codecov-umbrella
          yml: ./codecov.yml
          fail_ci_if_error: true
